.Wrapper {
  display: flex;
  flex-direction: column;
}

.Nav {
  width: 100%;
}

.FullProject {
  width: 100%;
  height: 100%;
}

.ProjectsHeader {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* @media (min-width: 500px) and (min-height: 400px) {
  .Wrapper {
    flex-direction: column;
  }
}

@media (min-width: 500px) and (min-height: 401px) {

} */
