.ExtraInfo {
  margin: auto 15px auto 15px;
}

.ContentContainer {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  padding: 15px;
}

.ContentContainer h2 {
  padding: 20px 0 20px 5px;
}

.ContentContainer img {
  padding: 5px;
  height: 100px;
  width: auto;
}

@media (max-width: 500px) {
  .ContentContainer img {
    height: 60px;
  }
}
