.Skills {
  margin: auto;
  color: rgba(251, 243, 238);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

@media (max-width: 760px) {
  .Skills p {
    font-size: small;
  }
  .Skills h2 {
    font-size: larger;
  }
}

@media (min-width: 1025px){
  .Skills {
    padding: 50px
  }
}