.Skills {
  overflow-x: hidden;
  width: 100%;
  padding: 0 25% 0 25%;
}

.TechSubsection {
  display: inline-flex;
  margin: 80px 0 80px 0;
}

.TechSubsection img {
  padding: 0 5px 0 5px;
  height: 60px;
  width: auto;
}

.TechSubsection h2 {
  padding: 0 0 2px 0;
}

@media (max-width: 1200px) {
  .Skills {
    padding: 0 10% 0 10%;
  }
}

@media (max-width: 768px) {
  .Skills {
    padding: 0 5% 0 5%;
  }
}
