.FullProject {
  background-color: #85a2bb;
  width: auto;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  margin: 0px 15px 20px 15px;
  padding: 5px
}

.HeaderDescription {
  
}

.Desc {
  padding: 5px
}

img {
  width: 50%;
  height: 50%;
  padding: 5px;
}
