.Course {
  border-bottom: 1px dotted black;
  border-radius: 10px 10px 0px 0px;
  height: auto;
  margin: 20px 15px 0px 15px;
  opacity: 90%;
  background-color: #748da1;
  display: flex;
  justify-content: center;
}

.Course h1 {
  font-size: larger;
  text-align: center;
  padding: 15px;
}

.Image {
  height: 120px;
  width: auto;
  padding: 10px;
}
