.Course {
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  border-bottom: 1px dotted black;
  border-radius: 10px 10px 0px 0px;
  height: auto;
  margin: 20px 15px 0px 15px;
  padding: 10px;
  opacity: 90%;
  background-color: #5E6572;
  display: flex;
  justify-content: center;
}

.Course h1 {
  font-size: larger;
  text-align: center;
  padding: 15px;
}

.Image {
  height: 120px;
  width: auto;
  padding: 10px;
}
