.IconsBar {
  border-bottom: 1px dotted black;
  border-radius: 10px 10px 0px 0px;
  height: auto;
  margin: 20px 15px 0px 15px;
  opacity: 90%;
  background-color: #748da1;
  display: flex;
  justify-content: space-between;
}

.TechImages {
  padding: 5px;
  height: 100%;
  width: auto;
  z-index: 100;
  grid-column: 2/3;
  text-align: right;
}

.Links {
  padding: 5px;
}

.IconImage {
  padding: 5px;
  height: auto;
  width: 30px;
}

