.Project {
  position: relative;
  max-width: 800px;
  margin: auto;
  color: #474747;
}

.IconsBar {
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  border-radius: 10px 10px 0px 0px;
  height: auto;
  background-color: mediumvioletred;
  display: flex;
  justify-content: space-between;
}

.Highlight {
  background-color: #f59f93;
}

.Desc {
  display: inline-flex;
  justify-content: space-between;
}

.TechImages {
  padding: 5px;
  height: 100%;
  width: auto;
  text-align: right;
}

.Links {
  padding: 5px;
}

.IconImage {
  padding: 5px;
  height: auto;
  width: 30px;
}

.MainContentWrapper {
  border-radius: 0px 0px 10px 10px;
  background: rgba(251, 243, 238, 0.95);
  box-shadow: 0 5px 10px #474747;
  padding: 5px;
}

.MainContentWrapper img {
  height: 150px;
  width: auto;
  padding: 15px 10px 0px 5px;
}

.MainContentWrapper img:hover {
  cursor: pointer;
}

.MainContentWrapper h2 {
  text-align: center;
  padding: 10px;
}

.MainContentWrapper h3 {
  padding: 10px;
}

.MainContentWrapper p {
  white-space: pre-line;
  padding: 10px;
}

.MainContentWrapper ul {
  text-align: left;
  padding: 5px 15px 15px 25px;
}

@media (max-width: 1400px) {
  .Project {
    max-width: 80%;
  }
}
