.Project {
  height: 100px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  margin: 15px;
  overflow: hidden;
  background-color: #748DA1;
  cursor: pointer;
}

.Title {
  display: inline-block;
  font-size: 1.6em;
  padding: 5px;
}

.Tech {
  padding: 5px;
}

.Image {
  padding: 5px;
  height: 25px;
  width: 25px;
}