.GoToTop {
  cursor: pointer;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 5px;
  z-index: 100;
  transition: bottom 0.6s;
  background-color:rgba(71, 71, 71, 0.6);
  padding: 5px
}

.GoToTopButton {
  height: 30px;
  width: auto;
  align-items: center;
}

.GoToTopHidden {
  bottom: -60px;
}

.GoToTopShown {
  bottom: -10px;
}
