.GoToTop {
  cursor: pointer;
  height: 56px;
  position: fixed;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 100;
  transition: bottom 0.6s;
}

.GoToTopButton {
  height: 30px;
  width: auto;
  align-items: center;
}

.GoToTop nav {
  height: 100%;
}

.GoToTopHidden {
  bottom: -56px;
}

.GoToTopShown {
  bottom: 0
}
