.OpenDrawWrapper {
  position: relative;
  cursor: pointer;
  margin: -5px;
  text-align: center;
}

.CloseDrawWrapper {
  padding-top: 5px;
  position: relative;
  cursor: pointer;
  margin: -25px 0 20px 0;
  text-align: center;
}

.DrawToggle {
  box-shadow: 0 5px 10px #474747;
  height: auto;
  margin: 0px 15px 0px 15px;
  background-color: #f9f4ee;
}

.HighlightDrawToggle {
  background-color: #eef1ef;
}

.DrawToggle:hover {
  cursor: pointer;
  background-color: #eef1ef;
}

.OpenDrawIcon {
  position: relative;
  width: 15px;
  height: auto;
}

.CloseDrawIcon {
  padding-top: 5px;
  position: relative;
  width: 15px;
  height: auto;
}

.ExpandDrawIcon {
  top: 5px;
}
