.OpenDrawWrapper {
  cursor: pointer;
  margin: -5px;
  text-align: center;
}

.CloseDrawWrapper {
  cursor: pointer;
  margin: -25px 0 20px 0;
  text-align: center;
}

.OpenDrawWrapper:hover .DrawIcon {
  width: 20px;
  margin-bottom: -5px;
}

.CloseDrawWrapper:hover .DrawIcon {
  width: 20px;
  margin-bottom: -5px;
}

.DrawToggle {
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  opacity: 90%;
  height: auto;
  margin: 0px 15px 0px 15px;
  background-color: #A9B4C2;
}

.HighlightDrawToggle {
  background-color: #EEF1EF;
}

.DrawToggle:hover {
  cursor: pointer;
  background-color: #EEF1EF;
}

.DrawToggle:hover .DrawIcon {
  width: 20px;
  margin-bottom: -5px;
}

.DrawIcon:hover {
  width: 20px;
  margin-bottom: -5px;
}

.DrawIcon {
  width: 15px;
  height: auto;
}

.ExpandDrawIcon {
  width: 20px;
  margin-bottom: -5px;
}

.ProjectTitle {
  text-align: center;
  font-size: 1.5em;
  padding: 5px 5px 10px 5px;
}

.CourseTitle {
  text-align: center;
  font-size: larger;
  padding: 5px 5px 10px 5px;
}