.WelcomeElements {
  margin: auto;
  color: #474747;
  max-width: 350px;
  background: rgba(251, 243, 238, 0.8);
  padding: 40px 10px 40px 10px;
  border-radius: 300px 50px 300px 50px;
  width: 100%;
}

.ProfileImage {
  z-index: 1;
  border-radius: 110px;
  height: 150px;
  width: auto;
}

.TitleGroup {
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.LinkIcons {
  margin: 10px 0px 0px 0;
}

.LinkIcons img {
  height: 40px;
  width: auto;
  padding: 5px 10px 15px 10px;
}

@media (max-height: 760px), (max-width: 500px) {
  .ScrollDownArrow {
    top: 50px;
  }
}

@media (min-height: 900px) {
  .ScrollDownArrow {
    top: 150px;
  }
}
