.Skills {
  color: white;
}

.Skills img {
  display: flex;
  height: 150px;
  width: auto;
}
.Title {
  text-align: center;
}

.Images {
  display: flex;
}

.TechLists {
  justify-content: space-between;
}

ul {
  display: inline;
}
.JavascriptList {
  padding: 10px;
  display: inline-block;
}

.PythonList {
  padding: 10px;
  display: inline-block;
}
