.Skills {
  padding: 1px;
}

.SectionTitle {
  border-bottom: 1px dotted black;
  margin: 20px 15px 0px 15px;
  border-radius: 10px 10px 0px 0px;
  background-color: #5e6572;
  padding: 10px 0px 5px 0px;
  text-align: center;
  font-size: larger;
  color: black;
}

.TechLists {
  text-align: center;
  opacity: 90%;
  background-color: #a9b4c2;
  border-bottom: 1px dotted black;
  border-radius: 0px 0px 10px 10px;
  height: auto;
  margin: 0px 15px 15px 15px;
  opacity: 90%;
}

.TechLists p {
  padding: 5px 10px 10px 10px;
}

.TechLists h2 {
  padding: 10px 10px 0px 10px;
}

.TechSubsection {
  border-bottom: 1px dotted black;
}
