.Skills {
  margin: 200px 0px 0px 0px;
  width: 80%;
  max-width: 800px;
}

.Highlight {
  background-color: #F59F93;
}

.TechLists {
  color: #474747;
  background-color: #f9f4ee;
  box-shadow: 0 5px 10px #474747;
}

.TechLists h2 {
  display: flex;
  justify-content: space-between;
}

.TechSubsection {
  padding: 30px;
}

.TechSubsection img {
  height: 30px;
  width: auto;
}

.TechSubsection:hover {
  cursor: pointer;
  background-color: #F59F93;
}