.Projects {
  margin: 0px 0px 70px 0px;
  padding: 10px 0px 25px 0px;
}

.ProjectsContainer {
  margin: 0px 15px 20px 15px;
  padding: 10px 0px 30px 0px;
}

.SectionTitle {
  border-bottom: 6px solid black;
  margin: 0px 15px 0px 15px;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-size: x-large;
  color: black;
}

@media (min-width: 900px) {
  .Projects {
    flex:1;
    margin-top: 140px;
  }
}
