.Projects {
  padding-top: 10px;
}

.ProjectsContainer {
  background-color: #a9b4c2;
  margin: 0px 15px 20px 15px;
  padding-top: 10px;
}

.SectionTitle {
  border-bottom: 1px dotted black;
  margin: 0px 15px 0px 15px;
  background-color: #5e6572;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-size: x-large;
  color: black;
}
