.Courses {
  padding: 0 0 100px 0;
}

.CoursesContainer {
  margin: 0px 15px 200px 15px;
  padding: 10px 5px 15px 5px;
}

.SectionTitle {
  border-bottom: 1px dotted black;
  margin: 0px 15px 0px 15px;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-size: x-large;
  color: black;
}

@media (min-width: 900px) {
  .Courses {
    margin-top: 150px;
    flex: 1;
  }
}
