.DrawControlWrapper {
  padding: 5px 0 5px 0;
  cursor: pointer;
  text-align: center;
}

.OpenDrawIcon {
  width: 15px;
  height: auto;
}

.CloseDrawIcon {
  width: 15px;
  height: auto;
}

.DrawCloseHighlight {
  background: rgba(199, 62, 29, 0.5);
}

.DrawOpenHighlight {
  background-color: #9cb380;
}

@media (hover: hover) {
  .DrawControlWrapper:hover .OpenDrawIcon {
    position: relative;
    width: 20px;
    top: 5px;
  }
  .DrawControlWrapper:hover .CloseDrawIcon {
    position: relative;
    width: 20px;
  }
  .DrawControlWrapper:hover {
    padding: 0 0 5px 0;
  }
}
