.DrawControlWrapper {
  margin: 0px 0px 20px 0px;
  padding: 5px 0 5px 0;
  cursor: pointer;
  text-align: center;
}

.DrawControlWrapper:hover {
  background: rgba(173, 70, 6, 0.8);
}

.DrawControlWrapper:hover .OpenDrawIcon {
  position: relative;
  top: 5px;
}

.OpenDrawIcon {
  width: 15px;
  height: auto;
}

.CloseDrawIcon {
  width: 15px;
  height: auto;
}