.Home {
  margin-top: 15px;
}

.WelcomeContainer {
  text-align: center;
  background: url('../../assets/welcomeBackground.jpg');
  background-size: cover;
  padding: 100px;
  border-bottom: 6px solid #827a75;
}

.ComponentsWrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.ScrollDownArrow {
  color: white;
  width: auto;
  height: 30px;
  margin: 30px 0 100px 0;
}

.ScrollDownArrow:hover {
  cursor: pointer;
}

.ContactButton {
  text-align: center;
}

.SmallDisplaysAboutMe {
  text-align: center;
  margin: 200px 10vw 0 10vw;
  color: #fbf3ee;
}

@media (min-height: 830px) {
  .SmallDisplaysAboutMe {
    display: none;
  }
}

@media (max-width: 700px) {
  .WelcomeContainer {
    padding: 100px 30px 100px 30px;
  }
}

@media (min-width: 1000px) {
  .ComponentsWrapper {
    display: flex;
    justify-content: space-evenly;
  }
}
