.WelcomeContainer {
  display: flex;
  height: 100vh;
  text-align: center;
  background: url('../../assets/welcomeBackground.jpg');
  background-size: cover;
  padding: 100px 10px 100px 10px;
  border-bottom: 6px solid #474747;
}

.SkillsWrapper {
  margin: 200px 0 200px 0;
  display: flex;
  justify-content: center;
}

.CoursesWrapper {
  margin: 200px 0 0 0;
  display: flex;
  justify-content: center;
}

.SliderWrapper {
  display: flex;
  justify-content: center;
  margin: 200px 0 0 0;
}

.ContactButton {
  text-align: center;
}

.SmallDisplaysAboutMe {
  text-align: center;
  margin: 300px 10vw 0 10vw;
  color: #474747;
}

@media (min-height: 830px) {
  .SmallDisplaysAboutMe {
    display: none;
  }
}
