.WelcomeContainer {
  position: relative;
  display: flex;
  margin: 56px 0 0 0;
  justify-content: center;
  min-height: 100vh;
  background: url('../../assets/welcomeBackground.jpg');
  background-size: cover;
  border-bottom: 6px solid #474747;
  flex-direction: column;
}

.AboutMeWrapper {
  display: flex;
  justify-content: center;
  margin: -50px auto auto auto;
}


.AboutMeTitle {
  font-size: 1em;
  margin: 5px auto 15px auto;
}

.ProjectsSectionTitleWrapper {
  height: 80px;
  display: flex;
  justify-content: center;
  background: #474747;
}

.ProjectsSectionTitle {
  margin: auto;
  color: white;
  text-align: center;
}

.JumpToSectionArrowWrapper {
  margin: auto;
}

.SkillsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(71, 71, 71); */
  min-height: 100vh;
  flex-direction: column;
}

.DashboardWrapper {

}