.Contact {
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.SectionTitle {
  border-bottom: 1px dotted black;
  margin: 20px 15px 0px 15px;
  border-radius: 10px 10px 0px 0px;
  background-color: #5e6572;
  padding: 10px 0px 5px 0px;
  text-align: center;
  font-size: larger;
  color: black;
}

.ContactForm {
  opacity: 90%;
  background-color: #a9b4c2;
  border-bottom: 1px dotted black;
  border-radius: 0px 0px 10px 10px;
  height: auto;
  margin: 0px 15px 15px 15px;
  opacity: 90%;
  height: 100%;
  width: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.ContactForm h2 {
  font-size: larger;
  padding: 0px 0px 5px 0px;
}

.ContactForm input {
  font-size: larger;
  padding: 5px 0px 5px 5px;
  margin-bottom: 5px;
}

.ContactForm textarea {
  resize: none;
  padding: 5px;
  font-size: 1.5em;
  text-align: left;
  height: 350px;
}

.ContactForm button {
  font-size: larger;
  padding: 5px 0px 5px 0px;
}