.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 10%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.Cert {
  text-align: center;
  height: 100%;
  width: auto;
}

.Cert img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}

@media (min-width: 650px) {
  .Modal {
      width: 525px;
      left: calc(50% - 250px);
  }
} 