.Project {
  margin: auto;
  color: #474747;
  padding: 0 10% 0 10%;
  max-width: 600px;
}

.IconsBar {
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  border-radius: 10px 10px 0px 0px;
  height: auto;
  background-color: #ecd7cd;
  display: flex;
  justify-content: space-between;
}

.Desc {
  display: inline-flex;
  justify-content: space-between;
}

.TechImages {
  padding: 5px;
  height: 100%;
  width: auto;
  text-align: right;
}

.Links {
  text-align: center;
  padding: 5px;
}

.IconImage {
  padding: 5px;
  height: auto;
  width: 30px;
}

.MainContentWrapper {
  position: relative;
}

.MainContent {
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
  background: rgba(251, 243, 238, 0.85);
  box-shadow: 0 5px 10px #474747;
}

.TitleWrapper {
  display: flex;
  justify-content: center;
}

.ProjectImage img {
  cursor: pointer;
  height: 150px;
  width: auto;
  padding: 10px 10px 0px 5px;
}

.MainContentWrapper h2 {
  text-align: center;
  padding: 10px;
}

.MainContentWrapper h3 {
  padding: 5px 0 5px 0;
}

.MainContentWrapper p {
  white-space: pre-line;
  padding: 10px 0 10px;
}

.MainContentWrapper ul {
  text-align: left;
  padding: 5px 15px 15px 25px;
}

@media (max-height: 768px), (max-width: 400px) {
  .MainContentWrapper p {
    font-size: 0.8em;
  }
  .MainContentWrapper ul {
    font-size: 0.8em;
  }
  .MainContentWrapper h3 {
    font-size: 1em;
  }
  .ProjectImage img {
    height: 120px;
  }
}

@media (max-height: 601px), (max-width: 500px) {
  .MainContentWrapper h3 {
    padding: 0;
    font-size: 0.8em;
  }
  .ProjectImage img {
    height: 100px;
  }
}
