.Course {
  border-radius: 10px 10px 0px 0px;
  height: auto;
  padding-top: 25px;
  margin: 30px 15px 0px 15px;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  background-color: #f9f4ee;
  color: #474747;
  display: flex;
  justify-content: space-between;
}

.Highlight {
  background-color: #F59F93;
}

.Course h1 {
  font-size: larger;
  padding: 15px;
}

.TitleContainer img{
  padding: 15px 0px 0px 10px;
  width: auto;
  height: 20px;
}
.CertificateContainer img{
  padding: 10px;
  width: auto;
  height: 70px;
}

.CertificateContainer img:hover {
  cursor: pointer;
}


@media (max-width: 550px) {
  .Course h1{
    font-size: medium;
  }

}