.Course {
  width: 100%;
  max-width: 600px;
  margin: 20px auto 0 auto;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 5px 10px #474747;
  background: #474747;
  color: rgb(251, 243, 238);
  display: flex;
  justify-content: space-between;
}

.Course h3 {
  font-size: 1em;
  padding: 15px 0 15px 15px;
}

.TitleContainer img {
  padding: 15px 0px 0px 10px;
  width: auto;
  max-height: 20px;
}

.CertificateContainer img {
  padding: 10px;
  height: 20vw;
  width: auto;
  max-height: 80px;
  cursor: pointer;
}
