.Course {
  border-radius: 10px 10px 0px 0px;
  height: auto;
  margin: 0px 15px 0px 15px;
  padding: 10px;
  background-color: #f9f4ee;
  display: flex;
  justify-content: space-between;
}

.Course h1 {
  font-size: larger;
  padding: 15px;
}

.Icons {
  text-align: right;
  flex: none;
}

.Icons img {
  padding: 15px 0px 0px 10px;
  width: auto;
  height: 40px;
}

.Icons img:hover {
  cursor: pointer;
}


@media (max-width: 550px) {
  .Course h1{
    font-size: medium;
  }

}