.ExtraInfo {
  display: flex;
  padding: 30px 0 30px 0;
}

.ContentContainer {
  border-radius: 10px 10px 10px 10px;
  background-color: #f9f4ee;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  margin: 20px 30px 15px 30px;
  padding: 15px;

  flex: 1;
  justify-content: space-evenly;
}

.ContentContainer h2 {
  padding: 0 0 20px 0;
}

.ContentContainer img {
  height: 120px;
  width: auto;
}

@media (max-width: 550px) {
  .ContentContainer img {
    height: 100px;
  }
}
