.Project {
  padding: 30px 0 30px 0;
}

.IconsBar {
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  border-radius: 10px 10px 0px 0px;
  height: auto;
  margin: 0px 15px 0px 15px;
  background-color: #f9f4ee;
  display: flex;
  justify-content: space-between;
}

.Highlight {
  background-color: springgreen;
}

.Desc {
  display: inline-flex;
  justify-content: space-between;
}

.TechImages {
  padding: 5px;
  height: 100%;
  width: auto;
  text-align: right;
}

.Links {
  padding: 5px;
}

.IconImage {
  padding: 5px;
  height: auto;
  width: 30px;
}

.MainContentWrapper {
  border-radius: 0px 0px 10px 10px;
  background-color: #f9f4ee;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  margin: 0px 15px 0px 15px;
  padding: 5px;
}

.MainContentWrapper img {
  height: 100px;
  width: auto;
  padding: 0px 10px 0px 5px 
}

.MainContentWrapper h2 {
  padding: 10px;
}

.MainContentWrapper h3 {
  padding: 10px;
}

.MainContentWrapper p {
  white-space: pre-line;
  padding: 10px;
}

.MainContentWrapper ul {
  text-align: left;
  padding: 5px 15px 15px 25px;
}
