.IconsBar {
  border-bottom: 1px dotted black;
  border-radius: 10px 10px 0px 0px;
  height: auto;
  margin: 20px 15px 0px 15px;
  background-color: #748da1;
  display: flex;
  justify-content: space-between;
}

.TechImages {
  padding: 5px;
  height: 100%;
  width: auto;
  z-index: 100;
  grid-column: 2/3;
  text-align: right;
}

.Links {
  padding: 5px;
}

.IconImage {
  padding: 5px;
  height: auto;
  width: 30px;
}


.OpenDrawWrapper {
  cursor: pointer;
  margin: -5px;
  text-align: center;
}

.CloseDrawWrapper {
  cursor: pointer;
  margin: -25px 0 20px 0;
  text-align: center;
}

.OpenDrawWrapper:hover .DrawIcon {
  width: 20px;
  margin-bottom: -5px;
}

.CloseDrawWrapper:hover .DrawIcon {
  width: 20px;
  margin-bottom: -5px;
}

.DrawToggle {
  height: auto;
  margin: 0px 15px 0px 15px;
  background-color: #748da1;
}

.HighlightDrawToggle {
  background-color: #85a2bb;
}

.DrawToggle:hover {
  cursor: pointer;
  background-color: #85a2bb;
}

.DrawToggle:hover .DrawIcon {
  width: 20px;
  margin-bottom: -5px;
}

.DrawIcon:hover {
  width: 20px;
  margin-bottom: -5px;
}

.Title {
  text-align: center;
  font-size: 1.5em;
  padding: 5px 5px 10px 5px;
}

.DrawIcon {
  width: 15px;
  height: auto;
}

.ExpandDrawIcon {
  width: 20px;
  margin-bottom: -5px;
}
