.Font {
  font-family: 'Teko';
}

.DashboardWrapper {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  background-color: #0b0c10;
}

/************************ MENU *************************/

.MenuItemsWrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.MenuItemsContainer {
  min-height: 100vh;
  max-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #1f2833;
  width: 15vw;
}

.SubMenuItemsContainer {
  margin: 0 auto auto auto;
  width: 100%;
}

.MenuHeader {
  font-size: 2em;
  color: #66fcf1;
  /* margin: 0 auto auto auto; */
  margin: auto;
}

.MenuSubHeader {
  font-size: 2em;
  color: #66fcf1;
  margin: 10px auto auto auto;
}

.DashboardMenuItem {
  position: relative;
  width: 100%;
  height: 5vh;
  /* margin: 10px auto 10px 0; */
  margin: auto;
  background: #1f2833;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.SubMenuItem {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  background: #1f2833;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.MenuPointer {
  width: 40px;
  height: 180%;
  position: absolute;
  animation-name: menuPointerAnimation;
  animation-duration: 1s;
  right: -40px;
  top: calc(50% - 90%);
}

.MenuItemTitle {
  margin: 10px auto 10px auto;
  color: #c5c6c7;
  font-size: 1.2em;
  bottom: 0;
  text-align: center;
}

/************************ MAIN CONTENT *************************/

.MainContentWrapper {
  margin: auto;
  width: 100%;
  height: 100vh;
}

.MainContentContainer {
  color: #474747;
  margin: auto;
  height: 100%;
  background: #0b0c10;
  display: flex;
  justify-content: center;
}

.MainContent {
}

/************************ ANIMATIONS *************************/

.Focus {
  background: #c5c6c7;
  animation-name: onClickAnimation;
  animation-duration: 1s;
}

.Focus > h2 {
  color: #474747;
}

@keyframes onClickAnimation {
  from {
    background-color: #1f2833;
  }
  to {
    background-color: #c5c6c7;
  }
}

@keyframes menuPointerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
