.FadeFromRight {
  opacity: 0;
  transform: translateX(-20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.FadeFromLeft {
  opacity: 0;
  transform: translateX(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.FadeFromTop {
  text-align: center;
  opacity: 0;
  transform: translateY(-5vh);
  visibility: hidden;
  transition: opacity 0.9s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.IsVisible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
