.App {
  background-image: url('./assets/appBackground.jpg');
  width: 100%;
  height: auto;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.App ::-webkit-scrollbar {
  display: none;
}
